# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# Cache
.pytest_cache/

# Build
build/
dist/

# Coverage
.coverage
htmlcov/